#version: '3'
volumes:
  hive-dev:
  target:

services:
  postgres:
    image: postgres:16.4-alpine3.20
    environment:
      POSTGRES_USER: hive-dev
      POSTGRES_HOST_AUTH_METHOD: trust
      POSTGRES_DB: hive-local
    volumes:
      - ./dev-container/postgres_init.sh:/docker-entrypoint-initdb.d/create_database.sh
      - hive-dev:/var/lib/postgresql/data/
    restart: unless-stopped
    ports:
      - 5433:5432
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d postgres -u hive-dev" ]
      interval: 30s
      timeout: 10s
      retries: 5
  app:
    build: ./dev-container/.
    depends_on:
      - postgres
    command: cd /app/db 
    entrypoint: ["/bin/bash", "-c", "./dev-container/wait-for-it.sh -t 3 postgres:5432 -- ./dev-container/start_app.sh"]
    volumes:
      - .:/app
      - target:/app/target/
    ports:
      - 3000:3000
      - 3001:3001
    env_file:
      - .env
    restart: always
    environment:
      DATABASE_URL: postgres://hive-dev@postgres:5432/hive-local
      TEST_DATABASE_URL: postgres://hive-dev@postgres:5432/hive-test
      LEPTOS_HASH_FILES: true
